@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Dosis:200,300,400,500,600,800|Roboto:400,400i,700,700i,900,900i|Ubuntu:400,400i,700,700i&subset=latin-ext');
@import url('//at.alicdn.com/t/font_571229_gqdwyed9poq.css');
@import url('./buttons.css');
a:active,a:focus {text-decoration: none;}
.link:hover{
    -webkit-transform: translate3d(0,-60px,0);
    transform: translate3d(0,-60px,0);
}
body {
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom:50px;
    background-color:#111111;
}
.copyright{ position:fixed; left:0px; bottom:0px; width:100%; height:50px; background-color:#333; z-index:9999;}
* {
    color:#eeeeee;
    font-family:"微软雅黑","Microsoft Yahei UI","黑体","SimHei",sans-serif;
}
input {
    color:#222222;
}
.main {
    background-color:#FF9999;
    background-size:100% 10px;
    width: 90%;
    color: black;
}
.how{
    background-color:#77DDFF;
    background-size:100% 10px;
    width: 90%;
    color: black;
}
.wiki{
    background-color:#99FF99;
    background-size:100% 10px;
    width: 90%;
    color: black;
}
.info-input{
    background-color:rgba(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 440px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    box-shadow: 0 2px 3px rgba(0,0,0,.55);
    border: 1px solid #818c94;
    border: 1px solid rgba(0,0,0,.4);
    min-width: 240px;
}
.login{
    height: 7cm;
}
.reg{
    height: 9cm;
}
.reset{
    height: 7.5cm;
}
.input-box{
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    font-size:0.9em;
    height:1.4em;
    border:1px solid #c8cccf;
    color:#eeeeee;
    outline:0;
    border-style:solid;
    border-left:3px solid #666666;
    border-bottom:3px solid #666666;
    border-right-width:0px;
    border-top-width:0px;
    background-color:transparent;
    padding-bottom:5px;
}
.paybox{
    background-color:rgba(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 900px;
    width: calc(100% - 40px);
    padding: 44px;
    margin-bottom: 28px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.55);
    box-shadow: 0 2px 3px rgba(0,0,0,.55);
    border: 1px solid #818c94;
    border: 1px solid rgba(0,0,0,.4);
    min-width: 800px;
}
.deti{
    text-align:right;
}